
<div class="row">
<div class="container col-md-4 col-md-offset-4">
<h1>Creatures of the Bog</h1>

<% @creatures.each do |c| %>

  <li><%= link_to c.name, c %></li>

<% end %>

<br>
<br>

<%= link_to "Add a new Creature", new_creature_path, :class=>"btn btn-success"%>

</div>
</div>

