body{
  background: image_url('swamp.jpg');
  background-repeat: no-repeat;
}

.divvy{
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 120px;

}

#headerstyle{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.formstyle{
  text-align: left;
}

.control-label{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  align: center;
}

.textty{
  color: white;
}

.heady{
  color: white;
}